.skills-section{
    background-color: #282c34;
    min-height: 100vh;
    /* width: calc(100vw - 40px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px 20px;
  }
  